<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8"/>
    <link href="static/css/socialed-style.css" rel="stylesheet" type="text/css"/>
    <title>Inicio - SocialED</title>
</head>
<body>
<div id="container">
    <a href="/">SocialED</a> | <a href="profile">Perfil</a> | <a href="login">Salir {{nickname}}</a>
    <h1>¡Hola {{ nickname}}! ¡Vamos a disfrutar!</h1>
    <h2></h2>
    <div>
        <div id="left">
            <form action="home" method="post" name="envio">
                <label for="message">¿Qué te cuentas {{ nickname}}?</label>
                <div class="inputs">
                    {% for message in messages %}
                    <li> {{ message[1] }}</li>
                    {% endfor %}
                </div>
                <input id="message" name="message" required="true"
                       placeholder="Deja aquí tu mensaje" maxlength="128" size="80"
                       type="text" value=""/>
                <input id="last" name="last" type="hidden" value=""/>
        </div>
        <div class="inputs">
            <input id="post_submit" name="post_submit" type="submit" value="¡Vamos!"/>
        </div>
        </form>
    </div>
    <div id="right">
        <form>
            <label for="post">
                Tus amigos también disfrutan de SocialED
            </label>
            <div class="inputs">
                {% for message in friends_messages %}
                <li> {{ message[0] }}: {{ message[2] }}</li>
                {% endfor %}
            </div>

        </form>
    </div>
</div>
</div>
</body>
</html>
